.header-menu {
    text-transform: capitalize;
}

.header-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.header-menu li {
    float: left;
  }

#user {
    font-size: 12px;
    display: block;
    color: #FA8072;
    text-align: middle;
    padding: 14px 16px;
}

#login, #signup, .logged-in {
    position: relative;
    float: right;
    right: 25px;
}

#logout {
    background-color: #2e5984;
}

.header-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.header-menu  li a:hover {
    background-color: #111;
  }

.active {
    background-color: #04AA6D;
}

#signup {
    object-position: right;

}

.flashes {
    color: red;
}
