{% extends "layout.html" %}

{% block page_name %}
About This Wiki
{% endblock %}

{% block content %}
<h3>About this Wiki</h3>

<!-- TODO(Project 1): Add info about the wiki. -->
<p>Hello! <br>
Welcome to <b>WikiSus</b>.<br>
Here you can find a plethora of information regarding the Innersloth's hit game <em>Among Us!</em> <br>
Make an account or sign in, and start browsing through the pages tab! 
</p>

<h3>WikiSusAuthors</h3>

<h4>Salomon Aduen</h4>
<img src="data:image/png;base64, {{ salomon_image }}" alt="image" width="200" height="200">
<h4>David Pineiro</h4>
<img src="data:image/png;base64, {{ david_image }}" alt="image" width="200" height="200">
<h4>Carson Siegrist</h4>
<img src="data:image/png;base64, {{ carson_image }}" alt="image" width="200" height="200">


<!-- TODO(Project 1): Add team members and pictures to about page. -->

{% endblock %}

