<!DOCTYPE html>
<html>

<head>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        {% if title %}
        <title>WikiSus - {{title}}</title>
        {% else %}
        <title>WikiSus</title>
        {% endif %}
    </head>
</head>

<body>
    <div class="header-menu">
        <ul>
            {% if not current_user.is_authenticated %}
                {% for element in ["home", "pages", "about", "upload", "login", "signup"] %}
                    {% if element == title %}
                    <li class="active" id="{{element}}"><a  href="{{ url_for(element)}}">{{element}}</a></li>
                    {% else %}
                    <li id="{{element}}" ><a href="{{ url_for(element)}}">{{element}}</a></li>
                    {% endif %}
                {% endfor %}

            {% else %}
                {% for element in ["home", "pages", "about", "upload", "logout"] %}
                    {% if element == title %}
                    <li class="active" id="{{element}}"><a  href="{{ url_for(element)}}">{{element}}</a></li>
                    {% else %}
                    <li id="{{element}}" ><a href="{{ url_for(element)}}">{{element}}</a></li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
    

    {% block content %}{% endblock content %}

</body>

</html>
