<!DOCTYPE html>
<html>

<head>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
        {% if title %}
            <title>WikiSus - {{title}}</title>
        {% else %}
            <title>WikiSus</title>
        {% endif %}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </head>
</head>

<body>
    <div class="header-menu">
        <ul>
            {% if not current_user.is_authenticated %}
                {% for element in ["home", "pages", "about", "signup", "login"] %}
                    {% if element == title %}
                    <li class="active" id="{{element}}"><a  href="{{ url_for(element)}}">{{element}}</a></li>
                    {% else %}
                    <li id="{{element}}" ><a href="{{ url_for(element)}}">{{element}}</a></li>
                    {% endif %}
                {% endfor %}
            
            {% else %}
                {% for element in ["home", "pages", "upload", "about", "messages"] %}
                    {% if element == title %}
                    <li class="active" id="{{element}}"><a  href="{{ url_for(element)}}">{{element}}</a></li>
                    {% else %}
                    <li id="{{element}}" ><a href="{{ url_for(element)}}">{{element}}</a></li>
                    {% endif %}
                {% endfor %}
                    
                    <div class="logged-in">
                        <li id="user">Hello there {{ current_user.username }}!</li>
                        <li id="logout" ><a href="{{ url_for('logout')}}">Sign Out</a></li>
                    </div>

            {% endif %}
        </ul>
    </div>
    

    {% block content %}{% endblock content %}

</body>

</html>
