{% extends "layout.html"%}

{% block content %}
<br>
<div style="padding-left:2em; padding-top:1em;">
<h2 style="padding-left:2.2em;"><b>Messages from {{author}}</b></h2>
    <ul>
        {% for msg in messages %}
            <li style="padding:0.7em">{{msg.date}} | {{ msg.time }} <a><b>{{msg.author}}</b>: {{msg.message}}</a></li>
        {% endfor %}
    </ul>
    <form action = "/messages/{{author}}" method = "POST" style="padding:12px;" >
    <div style="padding:12px;">
        <label for="content"></label> <br>
        <textarea name="content" rows="5" cols="50" placeholder="Enter message content here..." required></textarea> <br> 
        <input type="submit" value="Send"/>
    </div>
    </form>
</div>


{% endblock content %}