{% extends "layout.html"%}

{% block content %}
<h1>Create your sussy account!</h1>
<form method="POST" action="/signup">
    <div class="field">
        <label for="username" class="label">Enter a Username</label>
        <div class = "columns">
            <div class="column is-two-thirds">
                <div class="control">
                    <input type="text" name="username" class ="input" placeholder="Enter a username" required>
                </div>
            </div>
        </div>

        <label for="username" class="label">Enter a Password</label>
        <div class = "columns">
            <div class="column is-two-thirds">
                <div class="control">
                    <input type="password" name="password" class="input" placeholder="Enter a password" required/>
                </div>
            </div>
        </div>

        <button type="submit" value="Sign Up">Sign Up</button>
    </div>
</form>
{% endblock content %}