{% extends "layout.html" %}

{% block content %}
    </div>

    {% if link is defined %}
    <a>Success! See at <a href="{{ link }}">here</a>
    {% endif %}


        <form action = "/upload" method = "POST"
        enctype = "multipart/form-data" style="padding:12px;" >
        <div style="padding:12px;">
            <label for="post_title" style="font-size: 24px;">Post Title</label> <br>
            <input type = "text" name = "post_title" placeholder="I am sus"/> <br>  
        </div>
        
        <div style="padding:12px;">
            <label for="content">Post content</label> <br>
            <textarea name="content" rows="5" cols="50" placeholder="Enter content here..."></textarea> <br> 
            
        </div>

        <div style="padding:12px;">
            <label for="image">Upload image: </label>
            <input type = "file"  name = "post_image" accept = "image/*" /><br> <br>
        </div>
        
        <div style = "padding:12px">
        <h4>Select Page Categories:</h4> 
        <input type="checkbox" id="category1" name="category" value="Crewmate">
        <label for="vehicle1"> Crewmate</label><br>
        <input type="checkbox" id="category2" name="category" value="Imposter">
        <label for="vehicle1"> Imposter</label><br>
        <input type="checkbox" id="category3" name="category"" value="Task">
        <label for="vehicle1"> Task</label><br>
        <input type="checkbox" id="category4" name="category" value="Location">
        <label for="vehicle1"> Location</label><br>
        <input type="checkbox" id="category5" name="category" value="Terminology">
        <label for="vehicle1"> Terminology</label><br><br> 
        <button type="sumbit" value="submit">Submit</button>
    </div>

     </form>
{% endblock content %}